/* Override Bootstrap Styles
------------------------------------------------- */

.container { max-width: 700px; }

.jumbotron {
    background-color: rgb(17,108,214);
    border-radius: 0px;
    color: white;
    letter-spacing: 1px;
}

/* Styles
------------------------------------------------- */

h2 { margin-top: 40px; }

p { font-size: 1.1em; }

ul {
    font-size: 1.1em;
    list-style: none;
    padding-left: 0;
}

#footer {
    background-color: rgb(17,108,214);
    color: white;
    font-size: 0.8em;
    height: 80px;
    margin-top: 40px;
    padding-top: 29px;
    text-align: center;
}
