<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KnoxPy</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <!-- Banner -->
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <h1>KnoxPy 💻 🐍</h1>
          <p class="lead">Python users group in Knoxville, TN</p>
        </div>
      </div>
    </div>
  </div>  <!-- end Banner -->

  <div class="container">
    <div class="row">
      <div class="col-md">

      <h4>{{ page.title }}</h4>
      <hr>
      <h6>{{ page.date | date: '%B %-d, %Y' }} from {{ page.time }}</h6>
      <h6>{{ page.address }}</h6>
      {{ content }}

      <br>
      <p>
        <a href="/#past-events">Back to past events</a>
      </p>

      </div>
    </div>
  </div>

<script>
  (function() {
    window.counter = 'https://knoxpy.goatcounter.com/count'

    var script = document.createElement('script');
    script.async = 1;
    script.src = '//gc.zgo.at/count.js';
    var ins = document.getElementsByTagName('script')[0];
    ins.parentNode.insertBefore(script, ins)
  })();
</script>

</body>
</html>
